[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.2"

[dev-packages]
"codacy-coverage" = "*"
"factory_boy" = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"
"pytest-factoryboy" = "*"

[packages]
"dj-database-url" = "*"
django = "*"
"django-allauth" = "*"
"django-environ" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
sentry-sdk = "*"
django-ordered-model = "*"
django-bootstrap4 = "*"
markdown2 = "*"
