{% load bootstrap4 %}
<!doctype html>
<html lang="en">
    <head>
        <title>Highly Composite</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        <h1>{{ guide.title }}</h1><br>
        {% for step in guide.steps.all %}
            <h2>{{ step.title }}</h2>
            <h3>Requirements</h3>
                <ul>
                {% for requirement in step.requirements.all %}
                    <li>{{ requirement.title }}</li>
                {% endfor %}
                </ul>
            <h3>Actions</h3>
                <ol>
                {% for action in step.actions.all %}
                    <li>{{ action.text }}</li>
                {% endfor %}
                </ol>
            <h3>Verifications</h3>
                <ul>
                {% for verification in step.verifications.all %}
                    <li>{{ verification.text }}</li>
                {% endfor %}
                </ul>
        {% endfor %}
    </body>
</html>