{% load bootstrap4 %}
{% load guides %}
<!doctype html>
<html lang="en">
<head>
    <title>Highly Composite</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Highly Composite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'guide-list' %}">Guides<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'step-list' %}">Steps</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">How to Set Up {{ guide.title }}</h1><br>
        {% for step in guide.steps.all %}
            <h2>{{ step.title }}</h2>
            {% if step.requirements.exists %}
                <h3>Requirements</h3>
                <ul>
                    {% for requirement in step.requirements.all %}
                        <li>{{ requirement.title }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h3>Actions</h3>
            <ol>
                {% for action in step.actions.all %}
                    <li>{{ action.text|markdown|safe }}</li>
                {% endfor %}
            </ol>
            <h3>Verifications</h3>
            {% for verification in step.verifications.all %}
                <div>{{ verification.text|markdown|safe }}</div>
            {% endfor %}
        {% endfor %}
    </div>
</main>
</body>
</html>